<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.153347507128-pco3dddr3gm945apno3hcethhuvh3d3m</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Notifications will be sent when user information is updated</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Launchicon</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
